<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
	<!-- 
		Add a logger config to see logging messages.		
		- For more detailed logs, set values to "FINEST"
		- For info on logging levels, see: http://www.vogella.com/tutorials/Logging/article.html
	 -->
    <!-- Define your beans here -->
    
    <!-- define the dependency -->
    <bean id="movieReview" class="com.spring.di.movieReviewHelper"></bean>
    
 	<bean id="avengerMovie"
 		class="com.spring.di.avengerMovie">	
 		<constructor-arg ref="movieReview"> </constructor-arg>
 	</bean>
        <bean id="batmanMovie" class="com.spring.di.batmanMovie">
        <constructor-arg ref="movieReview"></constructor-arg>
        </bean>
        <bean id="sampleClass" class="com.spring.di.setterClass">
        <property name="movie" ref="movieReview"></property>
        <property name="myName" value="Shubham"></property>
        </bean>
</beans>